<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>

    <div class="button">
      <br>
      <%= link_to "Follow me on Facebook", 
"https://www.facebook.com/rjp203", class: "social-btn" %>
     </div>